body{
    background-color: rgb(152, 131, 192);
    font-size: 20;
    font-weight: 100;
}
h1{
    color: rgb(7, 92, 129);
    font-size: 20;
    font-weight: 100;
}
p{
    color: rgb(22, 78, 79);
    font-size: 20;
    font-weight: 100;

}
.flex{
    display:flex;
    flex-wrap:wrap;
}
.box{
    background:red;
    height: 200px;
    width:calc(100%/3);
    border:solid 3px black;
    /* border-top:solid 3px black; */
    /* border-left:0ch; */ 
    box-sizing:border-box;
    border-radius: 10px;
    padding: 10px;
    margin:10px;
    box-shadow:2px 2px 10px gray;
}
.bggreen{
    background: green;
}




