*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.row{
    display: flex;
    flex-wrap:wrap;
    width:100%;
    background:rgb(250, 249, 249);
    margin:10px;
}
.col{
    width:calc(100%/4);
    padding: 10px;
}
.card{
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
    height: 300px;
    border:solid 3px black;
    
}
.icons{
    width: 100%;
    text-align: center;
    height: 300px;
}
.bg{
    background: pink;
}
button.butt{
    color: white;
    background-color: black;
    height: 40px;
    border-radius: 10px;
    width: 70%;

}

button.but{
    color: rgb(251, 6, 145);
    background-color: white;
    height: 40px;
    border-radius: 10px;
    width: 70%;

}
